@import "../colors.scss";
@import "../mixins.scss";

.section-application {
  display: flex;
  flex-flow: column;
  max-width: 1170px;
  margin: 0 auto;

  @media all and (min-width: 768px) {
    flex-flow: row nowrap;
  }

  .content {
    width: 100%;

    @media all and (min-width: 768px) {
      width: calc(100% - 300px);
    }
  }

  .sidebar {
    width: 100%;
    border-top: 1px solid $sidebarBorderColor;

    @media all and (min-width: 768px) {
      width: 300px;
      border-top: 0;
      border-left: 1px solid $sidebarBorderColor;
    }

    &-inner {
      padding: 20px;
    }

    form {
      display: flex;
      flex-flow: column;
    }
  }
}

.product-content {
  width: 38%;
  position: absolute;
  top: 50%;
  left: 50%;

  .templatename {
    position: relative;
  }

  .template-name {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 28%;
    height: 16%;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 36px;
    text-transform: uppercase;
  }

  .template-wish {
    position: absolute;
    top: 70%;
    left: 0;
    width: 100%;
    font-size: 24px;
    text-transform: uppercase;
  }
}

.product-beer {
  @include glass-image("beer");

  .product-content {
    transform: translate(-25%, -50%);
    opacity: 0.5;
  }
}

.product-whiskey {
  @include glass-image("whiskey");

  .product-content {
    transform: translate(-50%, -60%);
    opacity: 0.5;
  }
}

.product-wine {
  @include glass-image("wine");

  .product-content {
    transform: translate(-50%, -60%);
    opacity: 0.5;
  }
}

.product__cup {
  .product-content {
    transform: translate(-25%, -50%);
  }

  &_white {
    @include cup-image("white");
  }

  &_black {
    @include cup-image("black");
  }

  &_blue {
    @include cup-image("blue");
  }

  &_lightblue {
    @include cup-image("lightblue");
  }

  &_burgundy {
    @include cup-image("burgundy");
  }

  &_green {
    @include cup-image("green");
  }

  &_lightgreen {
    @include cup-image("lightgreen");
  }

  &_orange {
    @include cup-image("orange");
  }

  &_pink {
    @include cup-image("pink");
  }

  &_red {
    @include cup-image("red");
  }

  &_yellow {
    @include cup-image("yellow");
  }
}

.products-container {
  .products-description {
    padding: 50px 20px;
    max-width: 1170px;
    margin: 0 auto;
  }
}

.product {
  width: 100%;
  max-width: 800px;
  position: relative;
  margin: 0 auto;
  text-align: center;

  .template {
    img {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
    }

    .style-image {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
    }

    .template-image {
      z-index: 20;
    }
  }
}

.go-to-order {
  text-align: center;

  .price {
    font-size: 48px;
  }

  .buy-button {
    a {
      display: block;
      max-width: 200px;
      color: $buyButtonColor;
      background: $buyButtonBackgroundColor;
      height: 50px;
      line-height: 50px;
      padding: 0 20px;
      border-radius: 25px;
      margin: 0 auto;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}

.constructor-form {
  .form-group {
    display: flex;
    flex-flow: column;
    margin: 10px 0;

    .countered-label {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;

      span {
        color: $inputCounterColor;
      }
    }
  }

  textarea {
    font-size: 20px;
    width: 100%;
    resize: none;
    border: 1px solid $formInputBorderColor;
  }

  input[type="text"] {
    text-indent: 4px;
    width: 100%;
    font-size: 20px;
    padding: 8px 0;
    border: 1px solid $formInputBorderColor;
  }

  .select-container {
    select {
      width: 100%;
      font-size: 20px;
      padding: 8px 0;
    }
  }

  .select-template-form {
    display: flex;
    flex-flow: row nowrap;
  }

  .select-template-container {
    width: 70%;

    select {
      border-top: 1px solid $formInputBorderColor;
      border-left: 1px solid $formInputBorderColor;
      border-right: 0;
      border-bottom: 1px solid $formInputBorderColor;
    }
  }

  .select-letter-container {
    width: 30%;

    select {
      border: 1px solid $formInputBorderColor;
    }
  }

  .select-number-container {
    display: none;
    width: 30%;

    select {
      border: 1px solid #ccc;
    }
  }
}

.cup-color-changer {
  display: flex;
  flex-flow: row wrap;

  &-radio {
    width: 25%;
    padding: 10px 0;
  }
}

input[type="radio"] {
  display: none;

  & + label {
    border: 3px solid transparent;
  }

  &:checked + label {
    border: 3px solid #666;
  }
}

.label-cup-color {
  display: block;
  width: 32px;
  height: 32px;
  text-indent: -1000px;
  overflow: hidden;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  cursor: pointer;

  &_white {
    background: $labelColorWhite;
  }

  &_black {
    background: $labelColorBlack;
  }

  &_blue {
    background: $labelColorBlue;
  }

  &_lightblue {
    background: $labelColorLightblue;
  }

  &_burgundy {
    background: $labelColorBurgundy;
  }

  &_green {
    background: $labelColorGreen;
  }

  &_lightgreen {
    background: $labelColorLightgreen;
  }

  &_orange {
    background: $labelColorOrange;
  }

  &_pink {
    background: $labelColorPink;
  }

  &_red {
    background: $labelColorRed;
  }

  &_yellow {
    background: $labelColorYellow;
  }
}
