@import "../colors.scss";
@import "../mixins.scss";

.footer {
  color: $footerTextColor;
  background: $footerBackgroundColor;
  padding-bottom: 50px;
  margin-top: 50px;

  a {
    color: $footerLinkColor;

    &:hover {
      color: $footerLinkHoverColor;
    }
  }

  &-map {
    background: $footerMapBackgroundColor;

    iframe {
      display: block;
      width: 100%;
      height: 350px;
    }
  }

  &-inner {
    padding-top: 50px;
    display: flex;
    flex-flow: row wrap;
    max-width: 1170px;
    margin: 0 auto;
  }

  &-hours,
  &-address,
  &-phones {
    width: 100%;

    @media all and (min-width: 768px) {
      width: 33.33%;
    }
  }

  &-politics,
  &-creator {
    width: 100%;
    padding-top: 30px;
    text-align: center;
  }

  @include footer_contacts_inner;
}
