@import "../colors.scss";
@import "../mixins.scss";

.header {
  &__inner {
    display: flex;
    flex-flow: column;
    max-width: 1170px;
    margin: 0 auto;
    height: auto;
    padding: 0 20px;

    @media all and (min-width: 480px) {
      flex-flow: row nowrap;
      justify-content: space-between;
      height: 60px;
    }
  }

  &__logo {
    padding-top: 10px;

    img {
      display: block;
      width: 178px;
      height: 39px;
      margin: 0 auto;
      padding-bottom: 10px;

      @media all and (min-width: 480px) {
        margin: 0;
        padding-bottom: 0;
      }
    }
  }

  &__phone {
    padding-top: 10px;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      text-align: center;
      line-height: 20px;
      white-space: nowrap;
      padding-bottom: 10px;

      @media all and (min-width: 480px) {
        text-align: left;
        padding-bottom: 0;
      }

      li {
        font-family: 'Roboto Slab', serif;
        font-weight: 700;
      }
    }
  }

  &__banner {
    background-size: cover;

    &-content {
      display: flex;
      max-width: 1170px;
      margin: 0 auto;
      padding: 50px 20px;
    }

    &-text {
      width: 100%;
      text-align: center;

      @media all and (min-width: 768px) {
        width: 50%;
        text-align: left;
      }

      p {
        color: $bannerTextColor;
        font-size: 120%;
        padding: 20px 0;
      }

      .button {
        display: inline-block;
        height: 50px;
        line-height: 50px;
        padding: 0 20px;
        color: $bannerButtonColor;
        background: $bannerButtonBackgroundColor;
        text-decoration: none;
        border-radius: 3px;
        white-space: nowrap;

        &:hover {
          background: $bannerButtonHoverBackgroundColor;
        }
      }
    }

    &_home {
      @include page-banner("homepage");
    }

    &_beer {
      @include page-banner("beer");
    }

    &_whiskey {
      @include page-banner("whiskey");
    }

    &_wine {
      @include page-banner("wine");
    }

    &_cup {
      @include page-banner("teamug");
    }
  }
}
