$color: #333;

$bannerBackgroundColor: #000;
$bannerTextColor: #fff;
$bannerButtonColor: #fff;
$bannerButtonBackgroundColor: #36c;
$bannerButtonHoverBackgroundColor: #47d;

$productListItemBeerBackgroundColor: #333;
$productListItemWhiskeyBackgroundColor: #666;
$productListItemWineBackgroundColor: #999;
$productListItemCupBackgroundColor: #ccc;

$sidebarBorderColor: #f0f0f0;

$howtoorderTextColor: #fff;
$howtoorderBackgroundFrom: #5eb1f3;
$howtoorderBackgroundTo: #7ec17e;

$sitesListLinkColor: #06c;

$footerBackgroundColor: #444;
$footerMapBackgroundColor: #f2f3f4;
$footerTextColor: #fff;
$footerLinkColor: #ccc;
$footerLinkHoverColor: #fff;
