$color: #333;

$productListItemBeerBackgroundColor: #333;
$productListItemWhiskeyBackgroundColor: #666;
$productListItemWineBackgroundColor: #999;
$productListItemCupBackgroundColor: #ccc;

$sidebarBackgroundColor: #f0f0f0;

$footerBackgroundColor: #444;
$footerTextColor: #fff;
$footerLinkColor: #ccc;
$footerLinkHoverColor: #fff;
