@mixin footer_contacts_inner {
  .footer-contacts-inner {
    padding: 20px;
    text-align: center;

    @media all and (min-width: 768px) {
      text-align: left;
    }

    h4 {
      margin-bottom: 20px;
      font-size: 150%;
      font-weight: 400;
    }

    p {
      line-height: 1.25;
      font-size: 90%;

      @media all and (min-width: 768px) {
        font-size: 100%;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      line-height: 1.25;
      font-size: 90%;

      @media all and (min-width: 768px) {
        font-size: 100%;
      }
    }
  }
}
