@import "colors.scss";
@import "mixins.scss";

body {
  color: $color;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Roboto Slab', serif;
}

h2 {
  font-family: 'Roboto Slab', serif;
}

.banner-container {
  background: #fff url(../images/homepage-banner.jpg) center center no-repeat;
  background-size: cover;
}

.banner {
  display: flex;
  max-width: 1170px;
  margin: 0 auto;
  padding: 50px 20px;

  .banner-content-left {
    width: 100%;
    text-align: center;

    @media all and (min-width: 768px) {
      width: 50%;
      text-align: left;
    }

    h1 {
      color: #fff;
      font-size: 200%;
    }

    p {
      color: #fff;
      font-size: 120%;
    }

    .button {
      display: inline-block;
      height: 50px;
      line-height: 50px;
      padding: 0 20px;
      color: #fff;
      background: #36c;
      text-decoration: none;
      border-radius: 3px;
      white-space: nowrap;

      &:hover {
        background: #47d;
      }
    }
  }
}

.section-inner {
  max-width: 1170px;
  padding: 50px 20px;
  margin: 0 auto;

  h2 {
    text-align: center;
  }
}

.products-container {
  .products-description {
    padding: 50px 20px;
    max-width: 1170px;
    margin: 0 auto;
  }
}

.product-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-flow: row wrap;

  .item {
    width: 100%;

    @media all and (min-width: 480px) {
      width: 50%;
    }

    @media all and (min-width: 768px) {
      width: 25%;
    }

    a {
      display: flex;
      align-items: flex-end;
      width: 100%;
      height: 100%;
      text-decoration: none;

      .title {
        display: block;
        width: calc(100% - 10px);
        font-size: 120%;
        padding: 10px;
        text-align: center;
        background: #000;
        color: #fff;
      }
    }
  }

  .item-beer {
    background: $productListItemBeerBackgroundColor url(../images/homepage-product-beer.jpg) center center no-repeat;
  }

  .item-whiskey {
    background: $productListItemWhiskeyBackgroundColor url(../images/homepage-product-whiskey.jpg) center center no-repeat;
  }

  .item-wine {
    background: $productListItemWineBackgroundColor url(../images/homepage-product-wine.jpg) center center no-repeat;
  }

  .item-cup {
    background: $productListItemCupBackgroundColor url(../images/homepage-product-mug.jpg) center center no-repeat;
  }

  .item-beer,
  .item-whiskey,
  .item-wine,
  .item-cup {
    background-size: cover;
  }
}

.product-page-layout {
  display: flex;
  flex-flow: row nowrap;

  .content {
    width: calc(100% - 250px);
  }

  .sidebar {
    width: 250px;
    background: $sidebarBackgroundColor;

    form {
      display: flex;
      flex-flow: column;
    }
  }
}

.product {
  width: 300px;
  margin: 0 auto;
  text-align: center;

  .name {
    font-size: 48px;
  }

  .wish {
    font-size: 36px;
  }

  .template {
    font-size: 120px;
  }
}

.constructor-form {
  .form-group {
    display: flex;
    flex-flow: column;
  }

  .select-template-form {
    display: flex;
    flex-flow: row nowrap;
  }

  .select-number-container {
    display: none;
  }
}
