@import "colors.scss";

body {
  color: $color;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Roboto Slab', serif;
}

h2 {
  font-family: 'Roboto Slab', serif;
}

.section-inner {
  max-width: 1170px;
  padding: 50px 20px;
  margin: 0 auto;

  h2 {
    text-align: center;
  }
}

.products-container {
  .products-description {
    padding: 50px 20px;
    max-width: 1170px;
    margin: 0 auto;
  }
}

.product-page-layout {
  display: flex;
  flex-flow: row nowrap;
  max-width: 1170px;
  margin: 0 auto;

  .content {
    width: calc(100% - 300px);
  }

  .sidebar {
    width: 300px;
    border-left: 1px solid $sidebarBorderColor;

    &-inner {
      padding: 20px;
    }

    form {
      display: flex;
      flex-flow: column;
    }
  }
}

.product {
  width: 800px;
  height: 800px;
  position: relative;
  margin: 0 auto;
  text-align: center;

  &-content {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -50%);

    .templatename {
      position: relative;
    }

    .template-name {
      display: block;
      width: 100%;
      position: absolute;
      top: 28%;
      height: 16%;
      left: 0;
      white-space: nowrap;
      font-size: 36px;
      text-transform: uppercase;
    }

    .template-wish {
      position: absolute;
      top: 70%;
      left: 0;
      width: 100%;
      font-size: 24px;
      text-transform: uppercase;
    }
  }

  .template {
    img {
      width: 100%;
      height: auto;
    }
  }
}

.product__cup {
  background-size: cover;

  &-white {
    background: url(../images/product-cup-white-background.jpg) center center no-repeat;
  }

  &-black {
    background: url(../images/product-cup-black-background.jpg) center center no-repeat;
  }

  &-blue {
    background: url(../images/product-cup-blue-background.jpg) center center no-repeat;
  }

  &-lightblue {
    background: url(../images/product-cup-lightblue-background.jpg) center center no-repeat;
  }

  &-burgundy {
    background: url(../images/product-cup-burgundy-background.jpg) center center no-repeat;
  }

  &-green {
    background: url(../images/product-cup-green-background.jpg) center center no-repeat;
  }

  &-lightgreen {
    background: url(../images/product-cup-lightgreen-background.jpg) center center no-repeat;
  }

  &-orange {
    background: url(../images/product-cup-orange-background.jpg) center center no-repeat;
  }

  &-pink {
    background: url(../images/product-cup-pink-background.jpg) center center no-repeat;
  }

  &-red {
    background: url(../images/product-cup-red-background.jpg) center center no-repeat;
  }

  &-yellow {
    background: url(../images/product-cup-yellow-background.jpg) center center no-repeat;
  }
}

.product-beer {
  background: url(../images/product-beer-background.jpg) center center no-repeat;
  background-size: cover;

  .template-image {
    opacity: 0.75;
  }

  .template-name,
  .template-wish {
    color: #fff;
    opacity: 0.75;
  }
}

.product-whiskey {
  background: url(../images/product-whiskey-background.jpg) center center no-repeat;
  background-size: cover;

  .product-content {
    transform: translate(-50%, -50%);
  }

  .template-image {
    opacity: 0.75;
  }

  .template-name,
  .template-wish {
    color: #fff;
    opacity: 0.75;
  }
}

.product-wine {
  background: url(../images/product-wine-background.jpg) center center no-repeat;
  background-size: cover;

  .product-content {
    transform: translate(-50%, -50%);
  }

  .template-image {
    opacity: 0.75;
  }

  .template-name,
  .template-wish {
    color: #fff;
    opacity: 0.75;
  }
}

.go-to-order {
  text-align: center;

  .price {
    font-size: 48px;
  }

  .buy-button {
    a {
      display: block;
      max-width: 200px;
      background: #36c;
      height: 50px;
      line-height: 50px;
      padding: 0 20px;
      border-radius: 25px;
      margin: 0 auto;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}

.constructor-form {
  .form-group {
    display: flex;
    flex-flow: column;
  }

  .select-template-form {
    display: flex;
    flex-flow: row nowrap;
  }

  .select-number-container {
    display: none;
  }
}
