@import "colors.scss";

body {
  color: $defaultFontColor;
  background: $defaultBackgroundColor;
  font-family: 'Roboto', sans-serif;
}

h1,
h2 {
  font-family: 'Roboto Slab', serif;
}

a {
  color: $linkColor;

  &:hover {
    color: $linkHoverColor;
  }
}

.section-description {
  background: $descriptionBackgroundColor;
}

.section-inner {
  max-width: 1170px;
  padding: 50px 20px;
  margin: 0 auto;

  h2 {
    text-align: center;
  }
}
