@import "colors.scss";

body {
  color: $color;
}

.product-page-layout {
  display: flex;
  flex-flow: row nowrap;

  .content {
    width: calc(100% - 250px);
  }

  .sidebar {
    width: 250px;

    form {
      display: flex;
      flex-flow: column;
    }
  }
}
