@import "colors.scss";

body {
  color: $color;
}

.homepage {
  .product-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-flow: row wrap;

    .item {
      width: 100%;

      a {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;

        .title {
          display: block;
          text-align: center;
          color: #fff;
        }
      }
    }

    .item-beer {
      background: $productListItemBeerBackgroundColor url(../images/homepage-product-beer.jpg) center center no-repeat;
    }

    .item-whiskey {
      background: $productListItemWhiskeyBackgroundColor url(../images/homepage-product-whiskey.jpg) center center no-repeat;
    }

    .item-wine {
      background: $productListItemWineBackgroundColor url(../images/homepage-product-wine.jpg) center center no-repeat;
    }

    .item-cup {
      background: $productListItemCupBackgroundColor url(../images/homepage-product-mug.jpg) center center no-repeat;
    }

    .item-beer,
    .item-whiskey,
    .item-wine,
    .item-cup {
      background-size: cover;
    }
  }
}

.product-page-layout {
  display: flex;
  flex-flow: row nowrap;

  .content {
    width: calc(100% - 250px);
  }

  .sidebar {
    width: 250px;

    form {
      display: flex;
      flex-flow: column;
    }
  }
}

@media all and (min-width: 480px) {
  .homepage {
    .product-list {
      .item {
        width: 50%;
      }
    }
  }
}

@media all and (min-width: 768px) {
  .homepage {
    .product-list {
      .item {
        width: 25%;
      }
    }
  }
}
