@import "colors.scss";
@import "mixins.scss";

body {
  color: $color;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Roboto Slab', serif;
}

h2 {
  font-family: 'Roboto Slab', serif;
}

.section-inner {
  max-width: 1170px;
  padding: 50px 20px;
  margin: 0 auto;

  h2 {
    text-align: center;
  }
}

.products-container {
  .products-description {
    padding: 50px 20px;
    max-width: 1170px;
    margin: 0 auto;
  }
}

.product-page-layout {
  display: flex;
  flex-flow: row nowrap;

  .content {
    width: calc(100% - 250px);
  }

  .sidebar {
    width: 250px;
    background: $sidebarBackgroundColor;

    form {
      display: flex;
      flex-flow: column;
    }
  }
}

.product {
  width: 300px;
  margin: 0 auto;
  text-align: center;

  .name {
    font-size: 48px;
  }

  .wish {
    font-size: 36px;
  }

  .template {
    font-size: 120px;
  }
}

.constructor-form {
  .form-group {
    display: flex;
    flex-flow: column;
  }

  .select-template-form {
    display: flex;
    flex-flow: row nowrap;
  }

  .select-number-container {
    display: none;
  }
}
